@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500');



.container404 {
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    color: rgba(255, 255, 255, .87);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container,
.container>.row,
.container>.row>div {
    height: 100%;
}